@use "../settings" as *;
@use "../tools/" as *;

img {
    @include wrapper-size(100%, 100%);
    object-fit: cover;
    border-radius: 50%;
    border: 0.1rem solid $colourText;
    box-shadow: 0.2rem 0.3rem 0.3rem 0 $colourLightShadow;
    overflow: hidden;
}
