@use "../settings" as *;
@use "../tools" as *;

a {
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: $colourLinks;
    font-weight: 700;
    font-size: 2rem;
    @include responsive(tablet-port) {
        font-size: 1.6rem;
    }

    @include responsive(mobile) {
        font-size: 1.2rem;
        letter-spacing: normal;
    }

    font-size: clamp(1.2rem, 0.9714rem + 0.7143vw, 2rem);
}
