@use "../settings" as *;
@use "../tools" as *;

h1 {
    font-family: $fontProfile;
    font-size: clamp(3.8rem, 2.5636rem + 3.8636vw, 7.2rem);
    font-weight: 400;
    text-align: left;
    @include responsive(mobile-land) {
        font-size: 3.8rem;
    }
}

h2 {
    font-size: clamp(2rem, 1.5636rem + 1.3636vw, 3.2rem);
    font-weight: 700;
}

h4 {
    font-size: clamp(2rem, 1.5636rem + 1.3636vw, 3.2rem);
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.08rem;
}

h5 {
    font-size: 0.8rem;
    font-weight: 400;
    @include responsive(mobile) {
        font-size: 0.6rem;
    }
}

h5 > span {
    @include responsive(mobile) {
        display: block;
    }
}

p {
    font-size: clamp(0.8rem, 0.6545rem + 0.4545vw, 1.2rem);
    font-weight: 400;
    letter-spacing: 0.06rem;
    line-height: 1.6rem;
}

li {
    list-style: none;
}
