@use "../settings" as *;
@use "../tools" as *;

.u-links {
    &:hover,
    focus {
        @include hover($colourText);
    }

    &:active {
        @include transform(translate(1rem) scale(0.95));
    }

    &--frame:hover,
    focus {
        @include hover($colourLinks);
    }
}

.u-icon {
    &-base:hover,
    focus {
        background-color: $colourText;
    }

    &--myself:hover,
    focus {
        color: $colourWater;
    }

    &--contact:hover,
    focus {
        color: $colourBgLight;
    }
}
