@use "../settings" as *;
@use "../tools" as *;

.u-links {
    &:hover,
    focus {
        @include hover($colourText);
    }

    &:active {
        @include transform(translate(1rem) scale(0.95));
    }

    &--frame:hover,
    focus {
        @include hover($colourLinks);
    }
}

.u-icon {
    &-base:hover,
    focus {
        background-color: transparent;
        border: 0.1rem solid $colourText;
    }

    &__linkedin:hover,
    focus {
        color: $colourText;
    }
}
