@use "../settings" as *;
@use "../tools" as *;

.u-links {
    &:hover,
    focus {
        @include hover($colourText);

        &:after {
            content: "";
            width: calc(100% + 1rem);
            position: absolute;
            height: 100%;
            z-index: -1;
            left: -1rem;
        }
    }

    &:active {
        @include transform(translate(1rem) scale(0.95));
        transition: linear;
    }

    &--frame:hover,
    focus {
        @include hover($colourLinks);
    }
}

.u-icon {
    &-base:hover,
    focus {
        background-color: $colourText;
    }

    &--myself:hover,
    focus {
        color: $colourWater;
    }

    &--contact:hover,
    focus {
        color: $colourBgLight;
    }
}
