$colourText: #494949;
$colourBgLight: #fcfcfc;
$colourLinks: #1461a8;
$colourProjectCardText: #525252;
$colourDarkShadow: #636363;
$colourLightShadow: #aaa;
$colourFrame: rgb(151, 151, 151);
$colourWater: #a2bece;
$colourCloud: #dce9ee;
$colourSky: #effaff;
$colourBgBright: #fff;
$colourEarth: #ceb6a0;
$colourBeach: #fce8d8;
