$colourText: #494949;
$colourBgLight: #fcfcfc;
$colourLinks: #a81414;
$colourProjectCardText: #525252;
$colourDarkShadow: #636363;
$colourLightShadow: #aaa;
$colourFrame: #979797;
$colourWater: #a2bece;
$colourCloud: #dce9ee;
$colourSky: #effaff;
$colourBgBright: #fff;
