@use "../tools" as *;
/* ****** Header ****** */
.o-header-bg-waves {
    @include wrapper-size(100vw, 100vh);
    position: fixed;
    object-fit: cover;
}

/* ****** Testamonials ****** */
.o-testamonials-bg {
    background-image: url("../../images/polar-chart.png");
    @include wrapper-size(100%, 83%);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position-x: -10%;
    background-position-y: 30%;
    transform: scale(1.2);
    opacity: 25%;
    @include flex(row, nowrap, center, center);
}

/* ****** My Projects ****** */
.o-projects-bg-top {
    background-image: url("../../images/my-work-bg-top.jpg");
    @include wrapper-size(100%, 50%);
    background-size: cover;
    background-repeat: no-repeat;
}

.o-projects-bg-bottom {
    background-image: url("../../images/my-work-bg-bottom.jpg");
    @include wrapper-size(100%, 50%);
    background-size: cover;
    background-repeat: no-repeat;
}
/* ****** Myself ****** */

/* ****** Contact ****** */
