@use "../tools" as *;
/* ****** Header ****** */
.o-header-bg-waves {
    @include wrapper-size(100vw, 100vh);
    position: fixed;
    object-fit: cover;
}

/* ****** Testamonials ****** */
.o-testamonials-bg {
    background-image: url("../../images/polar-chart.png");
    @include wrapper-size(100%, 83%);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position-x: -10%;
    background-position-y: 30%;
    @include transform(scale(1.2));
    opacity: 15%;
    @include flex(row, nowrap, center);
}

/* ****** My Projects ****** */
.o-projects-bg-top {
    @include background-image(url("../../images/my-work-bg-top.jpg"), cover, center);
    @include wrapper-size(100%, 50%);
}

.o-projects-bg-bottom {
    @include background-image(url("../../images/my-work-bg-bottom.jpg"), cover, center);
    @include wrapper-size(100%, 50%);
}

/* ****** Contact ****** */
.o-contact-bg {
    @include background-image(url("../../images/certificate.jpg"), contain, center);
    @include wrapper-size(100%, 100%);
    @include transform(rotate(-20deg) matrix(1.6, -0.3, -0.1, 1.6, 150, 40));
    opacity: 8%;
    position: absolute;
}
