@use "../tools" as *;
/* ****** Header ****** */
.o-bg-video {
    @include wrapper-size(100vw, 100vh);
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
}

.o-header-drawing-bg {
    @include background-image(url("../../images/flicka-drawing.png"), contain, bottom right);
    @include wrapper-size(100%, 100%);
    @include flex(column, nowrap, flex-end, flex-end);
    @include responsive(tablet-land) {
        @include background-image(url("../../images/flicka-drawing-faded.png"), contain, bottom right);
    }
}

/* ****** Testamonials ****** */
.o-test-bg {
    background-image: url("../../images/polar-chart.png");
    @include wrapper-size(100%, 83%);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 28%;
    @include transform(scale(1.2));
    @include flex(row, nowrap, center);
}

/* ****** My Projects ****** */
.o-projects-bg-top {
    @include background-image(url("../../images/my-work-bg-top.jpg"), cover, center);
    @include wrapper-size(100%, 50%);
}

.o-projects-bg-bottom {
    @include background-image(url("../../images/my-work-bg-bottom.jpg"), cover, center);
    @include wrapper-size(100%, 50%);
}

/* ****** Contact ****** */
.o-contact-bg {
    @include background-image(url("../../images/certificate.jpg"), contain, center);
    @include wrapper-size(100%, 100%);
    @include transform(rotate(-20deg) matrix(1.6, -0.3, -0.1, 1.6, 150, 40));
    opacity: 8%;
    position: absolute;
}
