@use "../settings" as *;
@use "../tools" as *;

.o-main-wrapper {
    @include flex(column, nowrap, center, center);
    position: relative;
    background-color: $colourBgLight;
    @include responsive(mobile-land) {
        display: none;
    }
}

.o-section-container {
    width: 80%;
    @include flex(row, nowrap, center, center);
    margin: 10rem 0;
    @include responsive(tablet-land) {
        margin: 5rem 0;
    }
}

.o-frame-container {
    width: 100%;
    max-width: 140rem;
    position: relative;
    @include responsive(tablet-land) {
        margin: 4rem 0;
    }

    @include responsive(mobile) {
        margin: 0;
    }
}

/* ****** Header ****** */

.o-header {
    &-wrapper {
        @include wrapper-size(100vw, 100vh);
        @include flex(column, nowrap, center, center);
        position: relative;
        text-align: center;
        gap: 2rem;
    }

    &-bg-wrapper {
        @include wrapper-size(80%, 75%);
        max-width: 140rem;
        max-height: 130rem;
        @include flex(row, nowrap, flex-start, flex-start);
        position: relative;
        margin-top: 4rem;
        @include responsive(tablet-port) {
            margin-top: 0;
        }

        @include responsive(mobile-land) {
            display: none;
        }
    }

    &-text-container {
        @include wrapper-size(90%, 55%);
        @include flex(column, wrap, space-between, flex-start);
    }
}

/* ****** Navbar ****** */

.o-navbar {
    &-links-wrapper {
        @include wrapper-size(90%, 25%);
        @include flex(row, nowrap, flex-start, flex-end);
    }

    &-links-container {
        @include wrapper-size(100%, auto);
        max-width: 60rem;
        @include flex(row, nowrap, space-between, flex-end);
    }
}

.o-scroll-nav-wrapper {
    @include wrapper-size(100%, 6rem);
    @include flex(row, nowrap, center, center);
    @include responsive(mobile) {
        height: 3rem;
    }
}

/* ****** Testamonials ****** */

.o-test {
    &-wrapper {
        @include wrapper-size(100vw, 70vh);
        @include flex(row, nowrap, center, center);
        overflow: hidden;
        @include responsive(mobile) {
            height: 100vh;
        }
    }

    &-carousel__control-panel {
        @include wrapper-size(50vw, 6rem);
        max-width: 50rem;
        @include flex(row, nowrap, space-between, flex-start);
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
}
/* ****** My Projects ****** */

.o-projects {
    &-wrapper {
        width: 100vw;
        background: -o-linear-gradient(45deg, $colourCloud 0%, $colourBgLight 100%);
        background: linear-gradient(45deg, $colourCloud 0%, $colourBgLight 100%);
        @include flex(row, nowrap, center, center);
    }

    &-frame-container {
        @include flex(row, nowrap, center, center);
    }

    &__container {
        @include flex(row, wrap, center, center);
        margin-bottom: 5rem;
        padding: 10rem 0;
    }

    &__group-container {
        @include flex(row, wrap, center, center);
    }

    &__subgroup-container {
        @include flex(column, nowrap, space-between, center);
    }

    &__img-container {
        @include wrapper-size(18rem, 18rem);
        position: relative;
        border-radius: 50%;
        cursor: pointer;
        margin: 1.5rem;
    }
}
/* ****** Myself ****** */

.o-myself {
    &-wrapper {
        width: 100vw;
        @include flex(column, nowrap, flex-end, center);
        background: -webkit-gradient(linear, left top, right top, from($colourWater), to($colourCloud));
        background: -o-linear-gradient(left, $colourWater 0%, $colourCloud 100%);
        background: linear-gradient(90deg, $colourWater 0%, $colourCloud 100%);
    }

    &-frame-container {
        @include flex(column, nowrap, flex-end, center);
        @include responsive(tablet-land) {
            margin-bottom: 0;
        }
    }

    &-content-wrapper {
        @include flex(row, nowrap, space-between, center);
        @include responsive(mobile) {
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }
    }

    &-content-container {
        @include flex(row, wrap, space-between, center);
        gap: 5rem;
        padding: 10rem 10rem;
        @include responsive(tablet-land) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }

        @include responsive(mobile) {
            padding: 4rem;
        }
    }

    &__img-container {
        width: clamp(14rem, 10rem + 12.5vw, 28rem);
        height: clamp(14rem, 10rem + 12.5vw, 28rem);
        -ms-flex-item-align: start;
        align-self: flex-start;
        margin-bottom: 2rem;
    }

    &__text-wrapper {
        @include wrapper-size(50rem, auto);
        @include flex(column, nowrap, space-between, center);
        @include responsive(tablet-land) {
            width: 100%;
        }
    }

    &__link-wrapper {
        width: 75%;
        @include flex(row, nowrap, flex-start, flex-end);
        padding-bottom: 2rem;
    }
}

/* ****** Waves (Codepen by Daniel Österman @Goodkatz) ****** */

.o-waves-wrapper {
    @include wrapper-size(100vw, 15vh);
    position: relative;
    background: -webkit-gradient(linear, left top, right top, from($colourWater), to($colourCloud));
    background: -o-linear-gradient(left, $colourWater 0%, $colourCloud 100%);
    background: linear-gradient(90deg, $colourWater 0%, $colourCloud 100%);
    color: $colourBgLight;
    @include responsive(tablet-land) {
        height: 10vh;
    }
}

/* ****** Contact ****** */

.o-contact {
    &-wrapper {
        @include wrapper-size(100vw, 80vh);
        @include flex(row, nowrap, center, center);
        position: relative;
        overflow: hidden;
        margin-top: 3rem;
        background-color: $colourBgLight;
        border-top: 0.2rem solid $colourCloud;
    }

    &-content-wrapper {
        max-width: 140rem;
        max-height: 50rem;
        @include wrapper-size(80%, 70%);
        @include flex(column, nowrap, space-between, flex-start);
    }

    &__links-wrapper {
        @include wrapper-size(100%, 35%);
        min-height: 14rem;
        @include flex(column, nowrap, space-between, flex-start);
    }

    &__link-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

/* ****** Project Modal ****** */

.o-modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    @include transform(scale(1.1));
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 3;
}

.activateModalContainer {
    opacity: 1;
    visibility: visible;
    @include transform(scale(1));
    -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
