@use "../settings" as *;
@use "../tools" as *;

.o-main-wrapper {
    @include flex(column, nowrap, center, center);
    position: relative;
    background-color: $colourBgLight;
}

.o-img-wrapper {
    border-radius: 50%;
    box-shadow: 0.2rem 0.3rem 0.3rem 0 $colourCardShadow;
    overflow: hidden;
}

/* ****** Header ****** */
.o-header {
    &-wrapper {
        @include wrapper-size(100vw, 100vh);
        @include flex(row, nowrap, center, center);
        position: relative;
        text-align: center;
    }

    &-bg-wrapper {
        @include wrapper-size(80%, 80%);
        max-width: 180rem;
        max-height: 130rem;
        @include flex(row, nowrap, flex-start, flex-start);
        position: relative;
        @include responsive(mobile) {
            @include wrapper-size(100%, 100%);
        }

        @include responsive(tablet-port) {
            @include wrapper-size(85%, 85%);
        }
    }

    &-content-wrapper {
        @include wrapper-size(100%, 100%);
        display: flex;
    }

    &-text-container {
        @include wrapper-size(90%, 55%);
        @include flex(column, wrap, space-between, flex-start);
    }
}

/* ****** Navbar ****** */
.o-navbar {
    &-links-wrapper {
        @include wrapper-size(90%, 25%);
        @include flex(row, nowrap, flex-start, flex-end);
    }

    &-links-container {
        @include wrapper-size(100%, auto);
        max-width: 60rem;
        @include flex(row, nowrap, space-between, flex-end);
    }
}

/* ****** Testamonials ****** */

.o-test-wrapper {
    @include wrapper-size(100vw, 70vh);
    @include flex(row, nowrap, center, center);
    overflow: hidden;
    @include responsive(mobile) {
        height: 100vh;
    }
    @include responsive(mobile-land) {
        display: none;
    }
}

/* ****** My Projects ****** */

.o-projects-wrapper {
    @include wrapper-size(100vw, 367rem);
    @include flex(column, nowrap, flex-start, center);
}
/* ****** Myself ****** */

.o-myself {
    &-wrapper {
        @include wrapper-size(100vw, 100vh);
        @include flex(column, nowrap, space-between, center);
        background: linear-gradient(90deg, $colourWater 0%, $colourCloud 100%);
    }

    &-content-wrapper {
        @include wrapper-size(85%, 85vh);
        @include flex(row, nowrap, center, center);
    }

    &-frame-container {
        @include wrapper-size(100%, 75%);
        @include flex(column, nowrap, flex-end, center);
        position: relative;
    }

    &-content-container {
        @include wrapper-size(85%, 75%);
        @include flex(row, wrap, space-between, flex-start);
    }

    &__img-container {
        @include wrapper-size(28rem, 28rem);
    }

    &__text-wrapper {
        @include wrapper-size(60%, 70%);
        @include flex(column, nowrap, space-between, center);
    }

    &__link-wrapper {
        width: 85%;
        @include flex(row, nowrap, flex-start, flex-end);
    }
}

/* ****** Waves (Codepen by Daniel Österman @Goodkatz) ****** */

.o-waves-wrapper {
    @include wrapper-size(100vw, 15vh);
    position: relative;
    background: linear-gradient(90deg, $colourWater 0%, $colourCloud 100%);
    color: $colourBgLight;
}

/* ****** Contact ****** */

.o-contact-wrapper {
    @include wrapper-size(100vw, 80vh);
    position: relative;
    overflow: hidden;
    margin-top: 3rem;
    background-color: $colourBgLight;
    border-top: 0.2rem solid $colourCloud;
}
