@use "../settings" as *;
@use "../tools" as *;

.o-main-wrapper {
    @include flex(column, nowrap, center, center);
    position: relative;
    background-color: $colourBgLight;
    @include responsive(mobile-land) {
        display: none;
    }
}

.o-section-container {
    width: 85%;
    @include flex(row, nowrap, center, center);
    margin: 10rem 0;
    @include responsive(tablet-land) {
        margin: 5rem 0;
    }
}

.o-img-wrapper {
    border-radius: 50%;
    box-shadow: 0.2rem 0.3rem 0.3rem 0 $colourLightShadow;
    overflow: hidden;
}

.o-frame-container {
    width: 100%;
    max-width: 140rem;
    position: relative;
    @include responsive(tablet-land) {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    @include responsive(mobile) {
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
}

/* ****** Header ****** */

.o-header {
    &-wrapper {
        @include wrapper-size(100vw, 100vh);
        @include flex(row, nowrap, center, center);
        position: relative;
        text-align: center;
    }

    &-bg-wrapper {
        @include wrapper-size(80%, 80%);
        max-width: 140rem;
        max-height: 130rem;
        @include flex(row, nowrap, flex-start, flex-start);
        position: relative;
        @include responsive(tablet-port) {
            @include wrapper-size(85%, 85%);
        }

        @include responsive(mobile-land) {
            display: none;
        }
    }

    &-text-container {
        @include wrapper-size(90%, 55%);
        @include flex(column, wrap, space-between, flex-start);
    }
}

/* ****** Navbar ****** */

.o-navbar {
    &-links-wrapper {
        @include wrapper-size(90%, 25%);
        @include flex(row, nowrap, flex-start, flex-end);
    }

    &-links-container {
        @include wrapper-size(100%, auto);
        max-width: 60rem;
        @include flex(row, nowrap, space-between, flex-end);
    }
}

/* ****** Testamonials ****** */

.o-test-wrapper {
    @include wrapper-size(100vw, 70vh);
    @include flex(row, nowrap, center, center);
    overflow: hidden;
    @include responsive(mobile) {
        height: 100vh;
    }
}

/* ****** My Projects ****** */

.o-projects {
    &-wrapper {
        width: 100vw;
        background: linear-gradient(45deg, $colourCloud 0%, $colourBgLight 100%);
        @include flex(row, nowrap, center, center);
    }

    &-frame-container {
        @include flex(row, nowrap, center, center);
    }

    &__container {
        @include flex(row, wrap, center, center);
        margin-bottom: 5rem;
        padding: 10rem;
        gap: 3rem;
    }

    &__group-container {
        @include flex(row, wrap, center, center);
        gap: 3rem;
    }

    &__subgroup-container {
        @include flex(column, nowrap, space-between, center);
        gap: 3rem;
    }
}
/* ****** Myself ****** */

.o-myself {
    &-wrapper {
        width: 100vw;
        @include flex(column, nowrap, flex-end, center);
        background: linear-gradient(90deg, $colourWater 0%, $colourCloud 100%);
    }

    &-frame-container {
        @include flex(column, nowrap, flex-end, center);
        @include responsive(tablet-land) {
            margin-bottom: 0;
        }
    }

    &-content-wrapper {
        @include flex(row, nowrap, space-between, center);
        @include responsive(mobile) {
            align-items: flex-start;
        }
    }

    &-content-container {
        @include flex(row, wrap, space-between, center);
        gap: 5rem;
        padding: 10rem 10rem;
        @include responsive(tablet-land) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }

        @include responsive(mobile) {
            padding: 4rem;
        }
    }

    &__img-container {
        width: clamp(14rem, 10rem + 12.5vw, 28rem);
        height: clamp(14rem, 10rem + 12.5vw, 28rem);
        box-shadow: 0.5rem 0.3rem 0.5rem 0 $colourDarkShadow;
        align-self: flex-start;
    }

    &__text-wrapper {
        @include wrapper-size(50rem, auto);
        @include flex(column, nowrap, space-between, center);
        @include responsive(tablet-land) {
            width: 100%;
        }
    }

    &__link-wrapper {
        width: 75%;
        @include flex(row, nowrap, flex-start, flex-end);
        padding-bottom: 2rem;
    }
}

/* ****** Waves (Codepen by Daniel Österman @Goodkatz) ****** */

.o-waves-wrapper {
    @include wrapper-size(100vw, 15vh);
    position: relative;
    background: linear-gradient(90deg, $colourWater 0%, $colourCloud 100%);
    color: $colourBgLight;
    @include responsive(tablet-land) {
        height: 12vh;
    }
}

/* ****** Contact ****** */

.o-contact {
    &-wrapper {
        @include wrapper-size(100vw, 80vh);
        @include flex(row, nowrap, center, center);
        position: relative;
        overflow: hidden;
        margin-top: 3rem;
        background-color: $colourBgLight;
        border-top: 0.2rem solid $colourCloud;
    }

    &-content-wrapper {
        max-width: 140rem;
        @include wrapper-size(80%, 70%);
        @include flex(column, nowrap, space-between, flex-start);
    }

    &__links-wrapper {
        @include wrapper-size(100%, 35%);
        @include flex(column, nowrap, space-between, flex-start);
    }

    &__link-container {
        display: flex;
    }
}

/* ****** Project Modal ****** */

.o-project-modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 3;
}

.activateModalContainer {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
