/* ***** Wrappers ***** */

@mixin wrapper-size($width: 100%, $height: 100) {
    width: $width;
    height: $height;
}

/* ***** Flex-Box ***** */

@mixin flex($direction: row, $break: nowrap, $alignMain: center, $alignCross: center) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: $direction $break;
    flex-flow: $direction $break;
    -webkit-box-pack: $alignMain;
    -ms-flex-pack: $alignMain;
    justify-content: $alignMain;
    -webkit-box-align: $alignCross;
    -ms-flex-align: $alignCross;
    align-items: $alignCross;
}

/* ***** Images ***** */

@mixin background-image($url: url(" "), $size: cover, $position: center) {
    background-image: $url;
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
}

/* ***** Transform ***** */

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

/* ***** Frames ***** */

@mixin frame($width: 0, $height: 0) {
    content: "";
    position: absolute;
    width: $width;
    height: $height;
}

/* ***** Media Queries ***** */

/*
- 480px = mobile
481 - 768px = tablet-port
769 - 1200px = tablet-land
1200 - 1800px = laptop (default)
1800 - = desktop
*/

@mixin responsive($breakpoint) {
    @if $breakpoint == mobile {
        @media screen and (max-width: 30em) {
            // 480px
            @content;
        }
    }

    @if $breakpoint == mobile-land {
        @media (min-width: 25em) and (max-height: 42em) {
            // 400px 672px
            @content;
        }
    }

    @if $breakpoint == tablet-port {
        @media screen and (max-width: 48em) {
            // 768px
            @content;
        }
    }

    @if $breakpoint == tablet-land {
        @media screen and (max-width: 75em) {
            // 1088px
            @content;
        }
    }

    @if $breakpoint == desktop {
        @media screen and (min-width: 112.5em) {
            // 1800px
            @content;
        }
    }
}
