@mixin wrapper-size($width: 100%, $height: 100) {
    width: $width;
    height: $height;
}

@mixin flex($direction: row, $break: nowrap, $alignMain: center, $alignCross: center) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: $direction $break;
    flex-flow: $direction $break;
    -webkit-box-pack: $alignMain;
    -ms-flex-pack: $alignMain;
    justify-content: $alignMain;
    -webkit-box-align: $alignCross;
    -ms-flex-align: $alignCross;
    align-items: $alignCross;
}

@mixin background-image($url: url(" "), $size: cover, $position: center) {
    background-image: $url;
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin frame($width: 0, $height: 0) {
    content: "";
    position: absolute;
    width: $width;
    height: $height;
}

@mixin hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.2);
}
