@use "../tools" as *;

.c-contact__address {
    font-size: clamp(1.2rem, 0.8571rem + 1.0714vw, 2.4rem);
    margin: 1rem 0 0 3rem;
    letter-spacing: 2px;
    z-index: 1;
    @include responsive(mobile) {
        margin-left: 2rem;
        letter-spacing: 1px;
    }

    &--email {
        font-weight: 700;
    }
}
