@use "../settings" as *;
@use "../tools" as *;

/* ****** Header ****** */

.c-header-frame {
    &:before {
        @include wrapper-size(100%, 100%);
        border-width: 0.1rem;
    }

    &--top-left:before {
        @include frame(0, 50%);
        left: 0;
        top: 0;
        border-left: 0.1rem solid $colourFrame;
    }

    &--top:before {
        @include frame(50%, 0);
        left: 0;
        top: 0;
        border-top: 0.1rem solid $colourFrame;
    }

    &--bottom:before {
        @include frame(90%, 0);
        right: 0;
        bottom: 0;
        border-bottom: 0.1rem solid $colourFrame;
    }

    &--bottom-right:before {
        @include frame(0, 50%);
        right: 0;
        bottom: 0;
        border-right: 0.1rem solid $colourFrame;
    }
}

/* ****** Testamonials and Myself Sections ****** */

.c-frame {
    &:before {
        @include wrapper-size(100%, 100%);
    }

    &--top:before {
        @include frame(70%, 0);
        left: 0;
        top: 0;
        border-top: 0.1rem solid $colourFrame;
    }

    &--top-left:before {
        @include frame(0, 50%);
        left: 0;
        top: 0;
        border-left: 0.1rem solid $colourFrame;
    }

    &--bottom:before {
        @include frame(70%, 0);
        right: 0;
        bottom: 0;
        border-bottom: 0.1rem solid $colourFrame;
    }

    &--bottom-right:before {
        @include frame(0, 50%);
        right: 0;
        bottom: 0;
        border-right: 0.1rem solid $colourFrame;
    }

    &__test {
        @include responsive(mobile) {
            display: none;
        }

        @include responsive(tablet-land) {
            display: none;
        }
    }

    &__text {
        font-size: 0.8rem;
        font-weight: 400;
        @include responsive(mobile) {
            font-size: 0.6rem;
        }

        &--align {
            padding: 0 2rem;
        }
    }

    &__sub-text {
        @include responsive(mobile) {
            display: block;
        }
    }

    &-text-holder {
        position: absolute;
        bottom: 0;
        border-top: 0.1rem solid $colourFrame;

        &-container {
            @include flex(column, nowrap, center, center);
            // width: clamp(12rem, 6.8571rem + 16.0714vw, 30rem);
            height: clamp(4rem, 3.4286rem + 1.7857vw, 6rem);
        }

        &__test {
            @include wrapper-size(40%, 20%);
            @include flex(column, nowrap, space-between, flex-start);
            right: 0;
            border-left: 0.1rem solid $colourFrame;
            @include responsive(mobile) {
                @include wrapper-size(100%, 15%);
                border: none;
            }

            @include responsive(tablet-land) {
                @include wrapper-size(100%, 15%);
                border: none;
            }
        }

        &--right {
            right: 0;
            border-left: 0.1rem solid $colourFrame;
        }

        &--bottom {
            @include wrapper-size(100%, 50%);
            @include flex(row, nowrap, flex-start, center);
            border-top: 0.1rem solid $colourFrame;
            @include responsive(mobile) {
                border: none;
            }

            @include responsive(tablet-land) {
                border: none;
            }
        }

        &--top {
            @include wrapper-size(100%, 50%);
            @include flex(row, nowrap, flex-start, center);
            @include responsive(mobile) {
                border: none;
            }

            @include responsive(tablet-land) {
                border: none;
            }
        }

        /* ****** My Projects ****** */

        &--left {
            left: 0;
            border-right: 0.1rem solid $colourFrame;
        }
    }

    &__projects--top:before {
        @include frame(70%, 0);
        right: 0;
        top: 0;
        border-top: 0.1rem solid $colourFrame;
    }

    &__projects--top-left:before {
        @include frame(0, 50%);
        right: 0;
        top: 0;
        border-left: 0.1rem solid $colourFrame;
    }

    &__projects--bottom:before {
        @include frame(70%, 0);
        left: 0;
        bottom: 0;
        border-bottom: 0.1rem solid $colourFrame;
    }

    &__projects--bottom-right:before {
        @include frame(0, 50%);
        left: 0;
        bottom: 0;
        border-right: 0.1rem solid $colourFrame;
    }
}
