@use "../settings" as *;
@use "../tools" as *;

/* ****** Header ****** */
.c-header {
    &:before {
        @include wrapper-size(100%, 100%);
    }

    &-top-left-frame:before {
        @include frame(0, 40%);
        left: 0;
        top: 0;
        border-left: 0.1rem solid $colourText;
    }

    &-top-frame:before {
        @include frame(50%, 0);
        left: 0;
        top: 0;
        border-top: 0.1rem solid $colourText;
    }

    &-bottom-frame:before {
        @include frame(90%, 0);
        right: 0;
        bottom: 0;
        border-bottom: 0.1rem solid $colourText;
    }

    &-bottom-right-frame:before {
        @include frame(0, 40%);
        right: 0;
        bottom: 0;
        border-right: 0.1rem solid $colourText;
    }
}

/* ****** Testamonials ****** */
.c-frame {
    &:before {
        @include wrapper-size(100%, 100%);
    }

    &-top:before {
        @include frame(70%, 0);
        left: 0;
        top: 0;
        border-top: 0.1rem solid $colourCardShadow;
    }

    &-top-left:before {
        @include frame(0, 50%);
        left: 0;
        top: 0;
        border-left: 0.1rem solid $colourCardShadow;
    }

    &-bottom:before {
        @include frame(70%, 0);
        right: 0;
        bottom: 0;
        border-bottom: 0.1rem solid $colourCardShadow;
    }

    &-bottom-right:before {
        @include frame(0, 50%);
        right: 0;
        bottom: 0;
        border-right: 0.1rem solid $colourCardShadow;
    }

    &__test {
        border-left: 0.1rem solid $colourCardShadow;
        @include responsive(mobile) {
            display: none;
        }

        @include responsive(tablet-land) {
            display: none;
        }
    }
}

.c-test__frame-text-holder {
    @include wrapper-size(40%, 20%);
    @include flex(column, nowrap, space-between, flex-start);
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 0.1rem solid $colourCardShadow;
    border-left: 0.1rem solid $colourCardShadow;
    @include responsive(mobile) {
        @include wrapper-size(100%, 15%);
        border: none;
    }

    @include responsive(tablet-land) {
        @include wrapper-size(100%, 15%);
        border: none;
    }

    &--bottom {
        @include wrapper-size(100%, 50%);
        @include flex(row, nowrap, flex-start, center);
        border-top: 0.1rem solid $colourCardShadow;
        @include responsive(mobile) {
            border: none;
        }

        @include responsive(tablet-land) {
            border: none;
        }
    }

    &--top {
        @include wrapper-size(100%, 50%);
        @include flex(row, nowrap, flex-start, center);
        @include responsive(mobile) {
            border: none;
        }

        @include responsive(tablet-land) {
            border: none;
        }
    }
}

.c-test__name {
    padding-left: 1rem;

    &--link {
        font-size: 1.2rem;
        color: $colourLinks;
        @include responsive(mobile) {
            font-size: 1rem;
        }
    }
}
