@use "../settings" as *;
@use "../tools" as *;

.c-header {
    &--mobile-land {
        display: none;
        @include responsive(mobile-land) {
            display: block;
            font-size: 1.6rem;
            line-height: 3rem;
            padding: 5rem 0 0 5rem;
        }
    }

    &__heading {
        &--small {
            display: block;
            padding-top: 4rem;
            font-weight: 400;
            font-size: 2.4rem;
            @include responsive(tablet-port) {
                font-size: 2rem;
            }

            @include responsive(mobile) {
                font-size: 1.6rem;
            }
            font-size: clamp(1.6rem, 1.3714rem + 0.7143vw, 2.4rem);
        }

        &--medium {
            display: block;
            padding-top: 1rem;
            margin-bottom: 2rem;
            font-weight: 400;
            font-size: 3.2rem;
            @include responsive(tablet-port) {
                font-size: 2.8rem;
            }

            @include responsive(mobile) {
                font-size: 2.2rem;
            }
            font-size: clamp(2.2rem, 1.9143rem + 0.8929vw, 3.2rem);
        }
    }
}
