@use "../settings" as *;
@use "../tools" as *;

.c-header {
    &--mobile-land {
        display: none;
        @include responsive(mobile-land) {
            display: block;
            font-size: 1.6rem;
            line-height: 3rem;
            padding: 5rem 0 0 5rem;
        }
    }

    &__heading {
        &--small {
            display: block;
            text-shadow: none;
            padding-top: 2rem;
            font-size: clamp(1.4rem, 1.0364rem + 1.1364vw, 2.4rem);
        }

        &--medium {
            display: block;
            text-shadow: none;
            padding-top: 1rem;
            margin-bottom: 2rem;
            font-size: clamp(2rem, 1.5636rem + 1.3636vw, 3.2rem);
        }
    }
}
