@use "../settings" as *;
@use "../tools" as *;

.c-icon {
    font-size: 4rem;
    color: $colourText;
    padding: 1rem;
    @include responsive(mobile) {
        font-size: 3rem;
    }

    &--linkedin {
        margin-top: 0.5rem;
    }

    &-base {
        @include wrapper-size(5rem, 5rem);
        border-radius: 6%;
        @include flex(row, nowrap, center, center);
        @include transform(rotate(-22deg));
        border: 0.1rem solid $colourText;
        box-shadow: 0.2rem 0.3rem 0.3rem 0 $colourDarkShadow;
        position: relative;
        @include responsive(mobile) {
            @include wrapper-size(4rem, 4rem);
        }
    }
}
