@use "../settings" as *;
@use "../tools" as *;

.c-icon {
    font-size: 4rem;
    color: $colourText;
    padding: 1rem;

    &--linkedin {
        margin-top: 0.5rem;
    }

    &-base {
        width: 5rem;
        height: 5rem;
        border-radius: 6%;
        background-color: transperent;
        @include flex(row, nowrap, center, center);
        @include transform(rotate(-22deg));
        border: 0.1rem solid $colourText;
        box-shadow: 0.2rem 0.3rem 0.3rem 0 $colourDarkShadow;
        position: relative;
    }

    &__subtext {
        font-size: clamp(0.8rem, 0.6545rem + 0.4545vw, 1.2rem);
        padding-left: 3rem;
    }
}
