@use "../settings" as *;
@use "../tools" as *;

.c-icon {
    &-base {
        width: 5rem;
        height: 5rem;
        border-radius: 6%;
        background-color: $colourText;
        @include flex(row, nowrap, center, center);
        @include transform(rotate(-22deg));
        box-shadow: 0.2rem 0.3rem 0.3rem 0 $colourDarkShadow;
        position: relative;
    }

    &__linkedin {
        font-size: 4rem;
        color: $colourWater;
        padding: 1rem;
        margin-top: 0.5rem;
    }

    &__subtext {
        font-size: clamp(0.8rem, 0.6545rem + 0.4545vw, 1.2rem);
        padding-left: 3rem;

        &-link {
            @include responsive(mobile) {
                @include transform(translate(-2rem, -4rem));
                padding: 0;
            }
        }
    }
}
