@use "../tools" as *;

.c-logo {
    position: absolute;
    top: 0rem;
    left: 2rem;
    @include responsive(mobile) {
        transform: scale(0.8);
        top: -1rem;
        left: -1rem;
    }

    @include responsive(mobile-land) {
        transform: scale(0.8);
        top: -2rem;
        left: -2rem;
    }
}
