@use "../tools" as *;

.c-logo {
    position: absolute;
    top: 0rem;
    left: 2rem;
    @include responsive(mobile) {
        @include transform(scale(0.7));
        top: -2rem;
        left: -3rem;
    }

    &--mobile-land {
        display: none;
        @include responsive(mobile-land) {
            display: block;
            margin: auto;
            position: absolute;
            top: 4rem;
            left: 8rem;
            @include transform(scale(1.2));
        }
    }
}
