@use "../settings" as *;
@use "../tools" as *;

.c-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: $colourProjectCardText;
    @include wrapper-size(60vw, 70vh);
    max-width: 100rem;
    @include flex(row, nowrap, center, center);
    border-radius: 1rem;
    @include responsive(tablet-land) {
        width: 80vw;
    }

    @include responsive(mobile) {
        height: 85vh;
    }

    &__content-wrapper {
        @include wrapper-size(85%, 85%);
        @include flex(column, nowrap, space-around, center);
    }

    &__heading-container {
        width: 100%;
        align-self: flex-end;
        @include flex(row, wrap-reverse, space-between, center);
        gap: 3rem;
    }

    &__heading {
        color: $colourBgLight;
        text-transform: uppercase;
        letter-spacing: 0.8rem;
    }

    &__main-content {
        @include wrapper-size(100%, 70%);
        @include flex(row, wrap, space-between, center);
        gap: 3rem;
        @include responsive(tablet-port) {
            @include flex(column, nowrap, space-between, center);
        }
    }

    &__img-container {
        width: clamp(14rem, 10rem + 12.5vw, 28rem);
        height: clamp(14rem, 10rem + 12.5vw, 28rem);
    }

    &__img {
        -webkit-box-shadow: 0.2rem 0.3rem 0.3rem 0 $colourLightShadow;
        box-shadow: 0.2rem 0.3rem 0.3rem 0 $colourLightShadow;
    }

    &__text-box {
        @include wrapper-size(50%, 60%);
        border-radius: 0.5rem;
        border: 0.1rem solid $colourText;
        background-color: $colourBgLight;
        -webkit-box-shadow: 0.2rem 0.3rem 0.3rem 0 $colourLightShadow;
        box-shadow: 0.2rem 0.3rem 0.3rem 0 $colourLightShadow;
        overflow: scroll;
        padding: 3rem;
        @include responsive(tablet-port) {
            width: 100%;
        }
    }

    &__X-wrapper {
        line-height: 1.5rem;
        cursor: pointer;
        border-radius: 0.25rem;
        border: 1px solid $colourBgLight;

        &:hover {
            background-color: $colourBgLight;
        }
    }

    &__text {
        text-transform: initial;
    }

    &__X {
        font-size: 2.5rem;
        color: $colourBgLight;
        padding: 0.7rem 0.9rem 0.5rem;

        &:hover {
            color: $colourProjectCardText;
        }
    }

    &__link-container {
        @include wrapper-size(100%, 15%);
        @include flex(row, wrap, flex-end, center);
        gap: 5rem;
        @include responsive(tablet-port) {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        @include responsive(mobile) {
            gap: 2rem;
        }
    }

    &__link-text {
        color: $colourBgLight;
        letter-spacing: 0.2rem;
    }
}
