@use "../tools" as *;

.c-myself__text {
    padding-bottom: 1rem;
    // @include responsive(mobile) {
    //     font-size: 1.2rem;
    // }
}

.c-text--smallCaps {
    font-variant: small-caps;
    font-weight: 600;
}
