@use "../settings" as *;
@use "../tools" as *;

.c-navbar__links {
    padding-bottom: 1rem;
    margin-right: 3rem;
    @include responsive(tablet-port) {
        margin-right: 1rem;
    }

    &-item {
        padding-top: 2.8rem;
    }
}
