@use "../settings" as *;
@use "../tools" as *;

.c-navbar__links {
    font-size: clamp(1rem, 0.7091rem + 0.9091vw, 1.8rem);
    padding-bottom: 2rem;
    margin-right: 2rem;
    @include responsive(mobile) {
        margin-right: 1rem;
    }

    &:hover,
    focus {
        @include hover($colourText);
    }

    &:active {
        @include transform(translate(1rem) scale(0.95));
    }
}
