@use "../settings" as *;
@use "../tools" as *;

.c-scroll {
    &-symbol-container {
        @include wrapper-size(4rem, 4rem);
        @include flex(row, nowrap, center, center);
        border-radius: 50%;
        border: 0.1rem solid $colourFrame;

        &--down {
            margin-left: 17rem;
            @include responsive(tablet-land) {
                margin-left: 0;
            }
            @include responsive(mobile) {
                @include wrapper-size(2.5rem, 2.5rem);
            }
        }

        &--up {
            position: absolute;
            bottom: 4rem;
            right: 3.5rem;
            padding-bottom: 1rem;
            position: fixed;
            z-index: 3;
            visibility: hidden;
            @include responsive(tablet-land) {
                right: 2rem;
            }
            @include responsive(mobile) {
                display: none;
            }
        }
    }

    &__symbol {
        color: $colourLinks;
        padding-bottom: 0.8rem;
    }

    &__link {
        padding: 0 1rem;
        @include responsive(mobile) {
            padding: 0.5rem 3rem;
        }
    }

    &__text {
        visibility: hidden;
        @include responsive(tablet-land) {
            display: none;
        }

        &--down {
            margin-left: 1rem;
        }

        &--up {
            position: fixed;
            bottom: 10rem;
            right: 2.5rem;
            z-index: 3;
        }
    }
}

.hideElement {
    visibility: hidden;
}

.showElement {
    visibility: visible;
}

/* ****** Hover styles for none touch devices ****** */

@media (hover: hover) {
    .c-scroll-symbol-container:hover,
    focus {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}

/* ****** Hover styles for touch devices ****** */

@media (hover: none) {
    .c-scroll-symbol-container:hover {
        background-color: inherit;
    }
}
