@use "../settings" as *;
@use "../tools" as *;

.c-scroll {
    &-symbol-container {
        @include wrapper-size(4rem, 4rem);
        @include flex(row, nowrap, center, center);
        border-radius: 50%;
        border: 0.1rem solid $colourFrame;
        position: absolute;

        &--down {
            bottom: 2.5rem;
            left: 50%;
            right: 50%;
            @include responsive(mobile) {
                @include wrapper-size(2.5rem, 2.5rem);
                bottom: 1rem;
            }

            @include responsive(mobile-land) {
                display: none;
            }
        }

        &--up {
            bottom: 4rem;
            right: 3.5em;
            padding-bottom: 1rem;
            position: fixed;
            z-index: 3;
            visibility: hidden;
            @include responsive(tablet-port) {
                display: none;
            }
        }

        &:hover,
        focus {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &-symbol {
        color: $colourLinks;
        padding-bottom: 0.8rem;
    }

    &-link {
        padding: 0 1rem;
        @include responsive(mobile) {
            padding: 0.5rem 3rem;
        }
    }
}

.scrollDownSymbol {
    visibility: hidden;
}

.scrollUpSymbol {
    visibility: visible;
}
