@use "../settings" as *;
@use "../tools" as *;

.c-scroll-icon {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    right: 50%;
    font-size: clamp(0.8rem, 0.5091rem + 0.9091vw, 1.6rem);
    color: $colourText;
    @include responsive(mobile-land) {
        display: none;
    }
}

.scrollIcon {
    visibility: hidden;
}
