@use "../settings" as *;
@use "../tools" as *;

.c-header__links {
    font-size: clamp(1rem, 0.7091rem + 0.9091vw, 1.8rem);
    text-shadow: 0.1rem 0.05rem 0.1rem $colourTextShadow;
    padding-bottom: 2rem;
    margin-right: 2rem;
    @include responsive(mobile) {
        margin-right: 1rem;
    }

    &:hover,
    focus {
        @include transform(scale(1.2));
        color: scale-color($colourText, $lightness: -40%);
    }

    &:active {
        @include transform(scale(1.1));
    }
}
