@use "../settings" as *;
@use "../tools" as *;

.c-test__heading {
    position: absolute;
    visibility: hidden;
}

.c-test-card {
    @include wrapper-size(50%, 60%);
    @include flex(row, nowrap, center, center);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90rem;
    max-height: 40rem;
    background: -webkit-gradient(linear, left top, right top, from($colourCloud), color-stop(50%, $colourSky), to($colourCloud));
    background: -o-linear-gradient(left, $colourCloud 0%, $colourSky 50%, $colourCloud 100%);
    background: linear-gradient(90deg, $colourCloud 0%, $colourSky 50%, $colourCloud 100%);
    -webkit-box-shadow: 0.2rem 0.5rem 0.5rem 0 $colourLightShadow;
    box-shadow: 0.2rem 0.5rem 0.5rem 0 $colourLightShadow;
    @include responsive(mobile) {
        @include wrapper-size(70%, 60%);
    }

    &__content-container {
        @include wrapper-size(93%, 83%);
        @include flex(row, nowrap, center, center);
        position: relative;
        @include responsive(mobile) {
            @include wrapper-size(90%, 90%);
        }

        @include responsive(tablet-port) {
            @include wrapper-size(90%, 90%);
        }
    }

    &__content {
        @include wrapper-size(80%, 55%);
        @include flex(row, nowrap, space-between, center);
        @include responsive(tablet-land) {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        @include responsive(mobile) {
            width: 100%;
        }
    }

    &__img-container {
        @include wrapper-size(12rem, 12rem);
        @include responsive(tablet-land) {
            position: absolute;
            top: -35%;
            left: 10%;
        }

        @include responsive(tablet-port) {
            top: -25%;
        }
    }

    &__qoute-container {
        position: relative;
        @include wrapper-size(70%, 100%);
        @include flex(row, wrap, center, center);
        @include responsive(tablet-land) {
            width: 100%;
        }
        @include responsive(mobile) {
            width: 80%;
        }
    }

    &__quote {
        font-style: italic;
        @include responsive(mobile) {
            font-size: 1rem;
        }

        &--mark {
            position: absolute;
            top: 4rem;
            left: -5rem;
            font-size: 15rem;
            opacity: 0.1;
            overflow: visible;
        }
    }

    &__link {
        font-size: 1.2rem;
        @include responsive(mobile) {
            font-size: 1rem;
        }
    }
}

.testimonialCards {
    display: none;
}

.c-test-carousel__dot-container {
    @include wrapper-size(4rem, 100%);
    @include flex(row, nowrap, space-between, flex-start);
    padding-top: 1.5rem;
    @include responsive(mobile) {
        width: 3rem;
    }
}

.c-test-carousel {
    &__dot {
        @include wrapper-size(1.5rem, 1.5rem);
        border-radius: 50%;
        border: 0.1rem solid $colourLightShadow;
        background-color: $colourBgLight;
        -webkit-transition: background-color 0.6s ease;
        -o-transition: background-color 0.6s ease;
        transition: background-color 0.6s ease;
        @include responsive(mobile) {
            @include wrapper-size(1rem, 1rem);
        }
    }

    &__control-button {
        @include wrapper-size(4rem, 4rem);
        @include flex(row, nowrap, center, center);
        border-radius: 50%;
        background-color: $colourBgLight;
        border: 0.19rem solid $colourFrame;
        font-size: 1.8rem;

        &--left {
            padding-right: 1rem;
            color: $colourLinks;
        }

        &--right {
            padding-left: 1rem;
            color: $colourLinks;
        }
    }
}

.activeDot {
    background-color: $colourWater;
}
