@use "../settings" as *;
@use "../tools" as *;

* {
    font-family: $fontMain;
    color: $colourText;
}

body,
html {
    @include wrapper-size(100vw, auto);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
