@charset "UTF-8";
/* ***** Wrappers ***** */
/* ***** Flex-Box ***** */
/* ***** Images ***** */
/* ***** Transform ***** */
/* ***** Frames ***** */
/* ***** Media Queries ***** */
/*
- 480px = mobile
481 - 768px = tablet-port
769 - 1200px = tablet-land
1200 - = laptop (default)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

* {
  font-family: "Fahkwang", sans-serif;
  color: #494949;
}

body,
html {
  width: 100vw;
  height: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-family: "Spinnaker", sans-serif;
  font-size: clamp(3.8rem, 2.5636rem + 3.8636vw, 7.2rem);
  font-weight: 400;
  text-align: left;
}
@media screen and (max-height: 41rem) {
  h1 {
    font-size: 3.8rem;
  }
}

h2 {
  font-size: 3.6rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.05rem 0.2rem #636363;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
}

h4 {
  font-size: 0.8rem;
  font-weight: 400;
}
@media screen and (max-width: 30em) {
  h4 {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 30em) {
  h4 > span {
    display: block;
  }
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.o-main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-color: #fcfcfc;
}

/* ****** Header ****** */
.o-header-wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.o-header-bg-wrapper {
  width: 80%;
  height: 80%;
  max-width: 200rem;
  max-height: 130rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  position: relative;
}
@media screen and (max-width: 30em) {
  .o-header-bg-wrapper {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 48em) {
  .o-header-bg-wrapper {
    width: 85%;
    height: 85%;
  }
}
.o-header-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.o-header-text-container {
  width: 90%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.o-header-links-wrapper {
  width: 90%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
.o-header-links-container {
  width: 100%;
  height: auto;
  max-width: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

/* ****** Testamonials ****** */
.o-test-wrapper {
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 30em) {
  .o-test-wrapper {
    height: 100vh;
  }
}

/* ****** My Projects ****** */
.o-projects-wrapper {
  width: 100vw;
  height: 367rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* ****** Myself ****** */
.o-myself-wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  background: linear-gradient(90deg, #a2bece 0%, #dce9ee 100%);
}

/* ****** Waves (Codepen by Daniel Österman @Goodkatz) ****** */
.o-waves-wrapper {
  width: 100vw;
  height: 15vh;
  position: relative;
  background: linear-gradient(90deg, #a2bece 0%, #dce9ee 100%);
  color: #fcfcfc;
}

/* ****** Contact ****** */
.o-contact-wrapper {
  width: 100vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
  background-color: #fcfcfc;
  border-top: 0.2rem solid #dce9ee;
}

/* ****** Header ****** */
.o-bg-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.o-header-drawing-bg {
  background-image: url("../../images/flicka-drawing.png");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 68em) {
  .o-header-drawing-bg {
    background-image: url("../../images/flicka-drawing-faded.png");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
  }
}

/* ****** Testamonials ****** */
.o-test-bg {
  background-image: url("../../images/polar-chart.png");
  width: 100%;
  height: 83%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 28%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* ****** My Projects ****** */
.o-projects-bg-top {
  background-image: url("../../images/my-work-bg-top.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
}

.o-projects-bg-bottom {
  background-image: url("../../images/my-work-bg-bottom.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
}

/* ****** Contact ****** */
.o-contact-bg {
  background-image: url("../../images/certificate.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-20deg) matrix(1.6, -0.3, -0.1, 1.6, 150, 40);
  -moz-transform: rotate(-20deg) matrix(1.6, -0.3, -0.1, 1.6, 150, 40);
  -ms-transform: rotate(-20deg) matrix(1.6, -0.3, -0.1, 1.6, 150, 40);
  -o-transform: rotate(-20deg) matrix(1.6, -0.3, -0.1, 1.6, 150, 40);
  transform: rotate(-20deg) matrix(1.6, -0.3, -0.1, 1.6, 150, 40);
  opacity: 8%;
  position: absolute;
}

/* ****** Waves (Codepen by Daniel Österman @Goodkatz) ****** */
.c-waves {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: -0.7rem;
  /*Fix for safari gap*/
  min-height: 10rem;
  max-height: 15rem;
}

.c-header__heading {
  text-shadow: 0.2rem 0.1rem 0.3rem #636363;
}
.c-header__heading--small {
  font-size: clamp(1.4rem, 1.0364rem + 1.1364vw, 2.4rem);
  display: block;
  text-shadow: none;
  padding-top: 3rem;
}
@media screen and (max-height: 41rem) {
  .c-header__heading--small {
    display: none;
  }
}
.c-header__heading--medium {
  font-size: clamp(2rem, 1.5636rem + 1.3636vw, 3.2rem);
  display: block;
  text-shadow: none;
  padding-top: 1rem;
  margin-bottom: 3rem;
}
@media screen and (max-height: 41rem) {
  .c-header__heading--medium {
    font-size: 2rem;
  }
}

/* ****** Header ****** */
.c-header-top-left-frame:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  width: 0;
  height: 40%;
  left: 0;
  top: 0;
  border-left: 0.1rem solid #494949;
}
.c-header-top-frame:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  width: 50%;
  height: 0;
  left: 0;
  top: 0;
  border-top: 0.1rem solid #494949;
}
.c-header-bottom-frame:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  width: 90%;
  height: 0;
  right: 0;
  bottom: 0;
  border-bottom: 0.1rem solid #494949;
}
.c-header-bottom-right-frame:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  width: 0;
  height: 40%;
  right: 0;
  bottom: 0;
  border-right: 0.1rem solid #494949;
}

/* ****** Testamonials ****** */
.c-test-top-left-frame:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  left: 0;
  top: 0;
  border-left: 0.1rem solid #b9b9b9;
}
@media screen and (max-width: 30em) {
  .c-test-top-left-frame:before {
    display: none;
  }
}
@media screen and (max-width: 68em) {
  .c-test-top-left-frame:before {
    display: none;
  }
}
.c-test-top-frame:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  width: 70%;
  height: 0;
  left: 0;
  top: 0;
  border-top: 0.1rem solid #b9b9b9;
}
@media screen and (max-width: 30em) {
  .c-test-top-frame:before {
    display: none;
  }
}
@media screen and (max-width: 68em) {
  .c-test-top-frame:before {
    display: none;
  }
}
.c-test-bottom-frame:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  width: 70%;
  height: 0;
  right: 0;
  bottom: 0;
  border-bottom: 0.1rem solid #b9b9b9;
}
@media screen and (max-width: 30em) {
  .c-test-bottom-frame:before {
    display: none;
  }
}
@media screen and (max-width: 68em) {
  .c-test-bottom-frame:before {
    display: none;
  }
}
.c-test-bottom-right-frame:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  right: 0;
  bottom: 0;
  border-right: 0.1rem solid #b9b9b9;
}
@media screen and (max-width: 30em) {
  .c-test-bottom-right-frame:before {
    display: none;
  }
}
@media screen and (max-width: 68em) {
  .c-test-bottom-right-frame:before {
    display: none;
  }
}

.c-test__frame-text-holder {
  width: 40%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  border-top: 0.1rem solid #b9b9b9;
  border-left: 0.1rem solid #b9b9b9;
}
@media screen and (max-width: 30em) {
  .c-test__frame-text-holder {
    width: 100%;
    height: 15%;
    border: none;
  }
}
@media screen and (max-width: 68em) {
  .c-test__frame-text-holder {
    width: 100%;
    height: 15%;
    border: none;
  }
}
.c-test__frame-text-holder--bottom {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 0.1rem solid #b9b9b9;
}
@media screen and (max-width: 30em) {
  .c-test__frame-text-holder--bottom {
    border: none;
  }
}
@media screen and (max-width: 68em) {
  .c-test__frame-text-holder--bottom {
    border: none;
  }
}
.c-test__frame-text-holder--top {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 30em) {
  .c-test__frame-text-holder--top {
    border: none;
  }
}
@media screen and (max-width: 68em) {
  .c-test__frame-text-holder--top {
    border: none;
  }
}

.c-test__name {
  padding-left: 1rem;
}
.c-test__name--link {
  font-size: 1.2rem;
  color: #1461a8;
}
@media screen and (max-width: 30em) {
  .c-test__name--link {
    font-size: 1rem;
  }
}

.c-header__links {
  font-size: clamp(1rem, 0.7091rem + 0.9091vw, 1.8rem);
  text-shadow: 0.1rem 0.05rem 0.1rem #636363;
  padding-bottom: 2rem;
  margin-right: 2rem;
}
@media screen and (max-width: 30em) {
  .c-header__links {
    margin-right: 1rem;
  }
}
.c-header__links:hover,
.c-header__links focus {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  color: #2c2c2c;
}
.c-header__links:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.c-logo {
  position: absolute;
  top: 0rem;
  left: 2rem;
}
@media screen and (max-width: 30em) {
  .c-logo {
    transform: scale(0.8);
    top: -1rem;
    left: -1rem;
  }
}
@media screen and (max-height: 41rem) {
  .c-logo {
    transform: scale(0.8);
    top: -2rem;
    left: -2rem;
  }
}
.c-logo__link:hover {
  -webkit-transform: scale(1.1) translate(-0.5rem, -0.5rem);
  -moz-transform: scale(1.1) translate(-0.5rem, -0.5rem);
  -ms-transform: scale(1.1) translate(-0.5rem, -0.5rem);
  -o-transform: scale(1.1) translate(-0.5rem, -0.5rem);
  transform: scale(1.1) translate(-0.5rem, -0.5rem);
}
.c-logo__link:active {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

.c-test-card {
  width: 50%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 90rem;
  max-height: 40rem;
  background-color: #e2eff5;
  box-shadow: 0.2rem 0.5rem 0.5rem 0 #b9b9b9;
}
@media screen and (max-width: 30em) {
  .c-test-card {
    width: 60%;
    height: 60%;
  }
}
.c-test-card__content-container {
  width: 93%;
  height: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  position: relative;
}
@media screen and (max-width: 30em) {
  .c-test-card__content-container {
    width: 90%;
    height: 90%;
  }
}
@media screen and (max-width: 48em) {
  .c-test-card__content-container {
    width: 90%;
    height: 90%;
  }
}

.c-scroll-icon {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  right: 50%;
  font-size: clamp(0.8rem, 0.5091rem + 0.9091vw, 1.6rem);
  color: #494949;
}
@media screen and (max-height: 41rem) {
  .c-scroll-icon {
    bottom: 1.5rem;
  }
}

.scrollIcon {
  visibility: hidden;
}

/* ****** Waves (Codepen by Daniel Österman @Goodkatz) ****** */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.u-waves--parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.u-waves--parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

.u-waves--parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}

.u-waves--parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
}

.u-waves--parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}
/* ****** Scroll Icon ****** */
.c-scroll-icon {
  -webkit-animation: bounce 0.5s linear 1s infinite alternate;
  -moz-animation: bounce 0.5s linear 1s infinite alternate;
  -o-animation: bounce 0.5s linear 1s infinite alternate;
  animation: bounce 0.5s linear 1s infinite alternate;
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(0.8rem);
    -moz-transform: translateY(0.8rem);
    -ms-transform: translateY(0.8rem);
    -o-transform: translateY(0.8rem);
    transform: translateY(0.8rem);
  }
}

/*# sourceMappingURL=main.css.map */
